 body{
     font-family: 'Prompt', sans-serif;
     padding: 0%;
     margin: 0%;
    
 }
 h1{
     font-size: 50px;
 }
 h2{
     font-size: 40px;
 }
 p{
     font-size: 20px;

 }
 
 
 .half-width{
    width: 50%;
    padding: 5%;  
 }
 
 .orange-color{
     color: orange;
 }
 .button{
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 50px;
    background-image: linear-gradient(orange, #ff6347);
    color: white;
    font-weight: 400;
    box-shadow: 10px 10px 40px orange;
    margin-bottom: 100px;
 }
 .b2{
     background-image:url(2-2.png);
     background-repeat: no-repeat;}
     .b1{
         background-image: url(Frame\ 58.jpg);
         background-repeat: no-repeat;
     }
     
     .flex{
         display: flex;
     }
     .three{
         text-align: center;
     }
     
     .shadow{
        width: 50%;
        margin-left: 2%;
        margin-right: 2%;
        padding:2%;
        box-shadow: 10px 10px 40px gray;
        border-radius: 50px;
        text-align:justify;
        position: bottom;

     }
     .shadow img{
         width: 100%;
         height: 50%;
     }
 h3{
     font-size: 40px;   
 }
 .five{
    
     background-color: aliceblue;
     text-align: center;
     border-radius: 10px;
     width: 80%;
     height: 2%;
     margin-top:80px ;
     margin-bottom:80px ;
     margin-left: 140px;
     margin-right:150px ;

     
     
 }
 
 .q{

padding-top:50px ;
padding-bottom:50px ;
padding-left:80px ;
padding-right:80px ;

 }
 .q p{
     text-align: end;
     font-size: 15px;
 }
 #i{
     text-align: center;
     color: coral;
     font-weight: 300;

 }
 #k{
     text-align: center;
     color: cornsilk;
     font-size: 15px;
     position: initial;
 }
 footer{
     background-color: black;
     padding: 3px;
 }
 .gray{
     color: darkgray;
 }